@layout SeconderyLayout
@page "/End/{GameId}/{UserId}"

@inject IJSRuntime JSRuntime;

  <link href="/css/styles/End.css" rel="stylesheet" />
  <link href="/css/styles/OpeningPage.css" rel="stylesheet" />

<div class="container">
        <div id="end" class="flex-center  flex-column">

            <div id="leaderBoard" class="flex-center flex-column">
                <h2 id="allScores">Leaderboard</h2>
                <table id="winingTable">
                    <tr>
                        <th>
                            Place
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Score
                        </th>
                    </tr>   

                @foreach (var user in allPlayers)
                {
                   userIncreaseCount();
                    <tr>
                        @if(@user.ID == @player.ID)
                        {
                       <td class="currentUser">@userCount</td>
                       <td class="currentUser" >@user.UserFirstName @user.UserLastName</td>
                            <td class="currentUser">@user.TotalScore</td>
                        }
                        else
                        {
                            
                        
                        <td>@userCount</td>
                       
                        <td>@user.UserFirstName @user.UserLastName</td>
                        
                        <td>@user.TotalScore</td>
                        }
                         
                    </tr>
                }  
                </table>
            </div>

           
            <div id="highScores" class="flex-center flex-column">
                <p class="bestSoFare">The best Players So Far</p>
                <ul id="highScoreList"> </ul>
            @foreach (var user in TopPlayers)
            {
                <li class="high-score">
                    @user.UserFirstName @user.UserLastName @user.TotalScore
                </li>
            }
            <div class="podium">
                    <div class="podium__item">
                        <div id="secondPlace"></div>

                    </div>

                    <div class="podium__item">
                        <div id="firstPlace"></div>
                    </div>

                    <div class="podium__item">
                        <div id="thirdPlace"></div>
                    </div>

                </div>

            </div>

                        <button type="button" class="btn" @onclick="GoToFeedback">Check answers</button>


        </div>

    </div>
@code {
    int userCount = 0;

    private void userIncreaseCount()
    {
        userCount++;

    }
}
