@layout SeconderyLayout
@page "/End/{GameId}/{UserId}"

@inject IJSRuntime JSRuntime;

  <link href="./css/styles/End.css" rel="stylesheet" />
  <link href="./css/styles/OpeningPage.css" rel="stylesheet" />
  <link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container-flex">
        <div id="end" class="justify-content-center align-items-center text-center">

            <div id="leaderBoard">
                <h2 id="allScores">Leaderboard</h2>
                <table id="winingTable" class="container col-10">
                    <tr class="row">
                        <th class="col-4">
                            Place
                        </th>
                        <th class="col-4">
                            Name
                        </th>
                        <th class="col-4">
                            Score
                        </th>
                    </tr>   
            <div class="w-100"></div>
                @foreach (var user in AllPlayers)
                {
                   userIncreaseCount();
                    <tr class="row">
                        @if(@user.ID == @Player.ID)
                        {
                       <td class="currentUser col-4">@userCount</td>
                       <td class="currentUser col-4" >@user.UserFirstName @user.UserLastName</td>
                            <td class="currentUser col-4">@user.UserScore</td>
                        }
                        else
                        {
                            
                        
                        <td class="col-4">@userCount</td>
                       
                        <td class="col-4">@user.UserFirstName @user.UserLastName</td>
                        
                        <td class="col-4">@user.UserScore</td>
                        }
                         
                    </tr>
                }  
                </table>
            </div>

           
            <div id="highScores" class="row justify-content-center">
            <p class="bestSoFare col-6">The best Players So Far</p>
             <ul id="highScoreList" class="row justify-content-evenly" >

                @foreach (var user in TopPlayers)
                {
                    <li class="high-score col-4 ">
                        @user.UserFirstName @user.UserLastName  @user.UserScore
                    </li>
                }
            </ul>
            <div class="row col-8 align-items-end border-bottom justify-content-evenly gx-5">
               
                <div id="firstPlace" class="col-2 rounded-bottom">

                </div>

                <div id="secondPlace" class="col-2 rounded-bottom">
                </div>

                <div id="thirdPlace" class="col-2 rounded-bottom">
                </div>

            </div> 
        </div>

             <div class="row justify-content-center mt-5">
             <button type="button" class="btnBlue col-sm-8 col-xs-8 col-lg-5 col-md-5" @onclick="GoToFeedback">Done</button>


          </div>


        </div>

    </div>
@code {
    int userCount = 0;

    private void userIncreaseCount()
    {
        userCount++;

    }
}
