@layout SeconderyLayout
@page "/EndFeedback/{GameId}/{UserId}"

@inject IJSRuntime JSRuntime;

<link href="/css/styles/feedback.css" rel="stylesheet" />
<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <div class="container">
        <div id="feedback" class="flex-center  flex-column">

            <h1>Check your answer</h1>
            <div id="answerCheck">
            @foreach (var feedback in endFeedback)
            {
                if(@feedback.IsRight == true)
                {
                <div class="correct">
                <div class="accordion">@answerdQuestions.QuestionBody
@*                 <img src="${feedbackAns.currentQuestion.QuestionPic}" style="width:80px" />
*@                </div>
                <div class="panel">
                <div>@answerdQuestions.Feedback</div>
@*                <img src="${feedbackAns.currentQuestion.choiceImg1}" style="width:80px" />
*@                
                        @foreach (var answer in answerdQuestions.Answers)
                        {
                            <div>@answer.AnswerBody</div>
@*                            <img src="${feedbackAns.currentQuestion.choiceImg2}" style="width:80px" />
*@
                        }

                </div> </div>                }
                else
                {
                <div class="incorrect">
                <div class="accordion">@answerdQuestions.QuestionBody
@*                 <img src="${feedbackAns.currentQuestion.QuestionPic}" style="width:80px" />
*@                </div>
                <div class="panel">
                <div>@answerdQuestions.Feedback</div>
@*                <img src="${feedbackAns.currentQuestion.choiceImg1}" style="width:80px" />
*@                
                        @foreach (var answer in answerdQuestions.Answers)
                        {
                            <div>@answer.AnswerBody</div>
@*                            <img src="${feedbackAns.currentQuestion.choiceImg2}" style="width:80px" />
*@
                        }

                </div> </div>
                }
             
                }
            </div> 
            <button type="button" class="btn" @onclick="backToEnd">Go back</button>



        </div>

    </div>

@code {
     protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            CallJSMethod();
        }
     }
    private async Task CallJSMethod()
    {
        await JSRuntime.InvokeVoidAsync("endFeedbackPage");
    }
}
