@layout SeconderyLayout
@page "/Gambeling/{GameId}/{UserId}"

@inject IJSRuntime JSRuntime;

<link href="./css/styles/Gambeling.css" rel="stylesheet" />
<link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet" />


<div class="Back">
    <div class="container">
        <div class="justify-content-center align-items-center">

            <h1 class="GamblingTitle">
                Think you can answer the next question correctly? <br/>
                How Much Would You Like To Bet On Your Success?
            </h1>

            <p class="selectetScore">@currentScore.UserScore</p>
            @*<p id="colectedScore"></p>*@
         <div class="row justify-content-center"> 

                <select id="gambelOptions" class="btnGreen col-6 text-center" @bind="@selectetScore">
                    @foreach (var Score in CorrentGambleScoreToInsert)
                    {
                        <option value=@Score>@Score</option>
                    }
                </select>
                         </div>

                <p class="selectetScore"> You've chosen to gamble on <span class="selectetScore" style="color:white">@selectetScore</span></p>
              

          

            @*<form>
                <select id="gambelOptions" class="btnGreen" onchange="gambelChoice()">
                    <option>0</option>
                    <option>100</option>
                    <option>200</option>
                    <option>300</option>
                    <option>400</option>
                    <option>500</option>
                    <option>600</option>
                </select>
                <p> You've chosen to gamble on </p> <p id="choosenGambel"></p>
                <input id="gambelScoreHidden" type="hidden" value="@GambelScore" @onchange="@(e=>{GambelScore=e.Value.ToString();})" />

            </form>*@


              <div class="row justify-content-center"> 
                <button type="button" id="gambelContinue" class="btnGreen col-sm-8 col-xs-8 col-lg-5 col-md-5 mt-4" @onclick="GoToNext"> Continue</button>

              </div>

            <a id="GoToGame" href="/GamePage"> </a>

        </div>

    </div>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            CallJSMethod();
        }
    }

    private async Task CallJSMethod()
    {
        await JSRuntime.InvokeVoidAsync("gambelingPage");
    }
}


