@layout SeconderyLayout
@page "/OpeningPage/{GameId}/{UserId}"
@using ProjectSolarEdge.Shared.Entities
@using System.Net.Http.Json
@inject HttpClient httpClient


<link href="/css/styles/OpeningPage.css" rel="stylesheet" />
<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

<div class="container-flex">
    <div class="justify-content-center align-items-center text-center">
        <div class="row align-items-center title">
         <h1 class="col"> @GamePlaying.GameName</h1>
        </div>
      
        <h2 class="p-3"> Hi @Player.UserFirstName @Player.UserLastName</h2>
        <p>@GamePlaying.GameDescription </p>

        <div id="highScores" class="row justify-content-center">
            <p class="bestSoFare col-6">The best Players So Far</p>
            <ul id="highScoreList" class="row justify-content-evenly" >

                @foreach (var user in TopPlayers)
                {
                    <li class="high-score col-4 ">
                        @user.UserFirstName @user.UserLastName  @user.UserScore
                    </li>
                }
            </ul>
            <div class="row col-8 align-items-end border-bottom justify-content-evenly gx-5">
               
                <div id="secondPlace" class="col-2 rounded-bottom">

                </div>

                <div id="firstPlace" class="col-2 rounded-bottom">
                </div>

                <div id="thirdPlace" class="col-2 rounded-bottom">
                </div>

            </div> 
        </div>
        <p>
            You have <span id="gameTime">@GamePlaying.GameTimeLimit </span> minutes to give it your best!
        </p>
        <h2> Think You Can Do Better?</h2>
        <div class="row justify-content-center">
          <button type="button" id="Continue" class="btnGreen col-sm-8 col-lg-5 col-md-5" @onclick="STARTGAME"> START GAME</button>

        </div>



    </div>

</div>


@code {

}
