@layout SeconderyLayout
@page "/OpeningPage/{GameId}/{UserId}"
@using ProjectSolarEdge.Shared.Entities

  <link href="/css/styles/OpeningPage.css" rel="stylesheet" />

    <div class="container">
        <div class="flex-center flex-column">
            <h1> @GamePlaying.GameName</h1>
            <h2> Hi @player.UserFirstName @player.UserLastName</h2>
            <p>@GamePlaying.GameDescription </p>

            <div id="highScores" class="flex-center flex-column">
                <p class="bestSoFare">The best Players So Far</p>
                <ul id="highScoreList"> </ul>
        
            @foreach (var user in TopPlayers)
            {
                <li class="high-score">
                    @user.UserFirstName @user.UserLastName @user.TotalScore
                </li>
            }
            <div class="podium">
                    <div class="podium__item">
                        <div id="secondPlace"></div>

                    </div>

                    <div class="podium__item">
                        <div id="firstPlace"></div>
                    </div>

                    <div class="podium__item">
                        <div id="thirdPlace"></div>
                    </div>

                </div>
            </div>
            <p>
                You have <span id="gameTime">@GamePlaying.GameTimeLimit </span> minutes to give it your best!
            </p>
            <h2> Think You Can Do Better?</h2>
            <button type="button" id="Continue" class="btnGreen" @onclick="STARTGAME" > START GAME</button>

            @*<a class="btnGreen" href="/WheelOfFortune">START GAME</a>*@
            <a class="btn" href="/OrderQuestion">Order question</a>

        </div>

    </div>

  
@code {
   
}
