@layout SeconderyLayout
@page "/OrderQuestion/{GameId}/{UserId}/{QuestionID}"

@inject IJSRuntime JSRuntime;
  
<link href="./css/styles/OrderQuestion.css" rel="stylesheet" />
<link href="./css/styles/Game.css" rel="stylesheet" />
<link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet" />


 <div class="container">
            <div class="row justify-content-between mt-4">
                <div id="points" class="col-4">
                <span class="score"> @currentScore.UserScore  </span> <span class="score">  Points</span>
                </div>
                <div class="col-4">
                    <img src="./Files/HowToPlay.svg" class="myToolTip rounded float-end" alt="How to play icon" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom"/>
                </div>
            </div>
           
            <div id="hud">
                <div id="hud-item">
                    <div id="progressBar">
                        <div id="progressBarFull"></div>
                    </div>
                    <p id="progressText"> <span id="availleblQuestions">@currentQuestionNum  </span> / <span id="maxQuestions"> @GamePlaying.Questions.Count() </span></p>
                </div>
                <div id="hud-item">
                </div>
            </div>

            <div class="text-center justify-content-center align-items-center">
            <h3>Questions @currentQuestionNum</h3>
          
             <div id="QuestionPic"></div>
            <h2 id="orderQuestion">@currentQuestion.QuestionBody</h2>
                <div class="container text-center">

                  <div class="row gx-5 justify-content-center">
                  <div class="col-10">
                  <div class="QuestionDescription">Drag The Aswer To The Right Order</div>
                  </div>
                  </div>
                  </div>
 
            <p id="orderQuestion">@currentQuestion.QuestionBody</p>

            <ul class="draggable-list row gy-4" id="draggable-list">
          
                 @foreach (var answer in currentQuestion.Answers)
                    {
                        
                    <div hidden>
                      @counterAdd()
                  </div>

                <li data-index=@counter class="text-center col-12"> 
                    <div class="draggable row" draggable="true" RightOrder=@answer.QuestionOrder>
                                    
                        <img class="col-1 offset-1" src="/Files/OrderIcon.svg" alt="Order icon">
                         <p class="person-name col-9"> @answer.AnswerBody</p>
@*                         <i class="fas fa-grip-lines"></i>
*@                         </div>
                         </li>
                @*<div class="choiceContainer">
                    <li class="choice-text" onclick="answerClicked('@answer.IsRight', event)" dataisRight="@answer.IsRight"> @answer.AnswerBody</li>
                </div>*@
                         
                    }
                <input id="questionHidden" type="hidden" value="@chosenanswer" @onchange="@(e=>{chosenanswer=e.Value.ToString();})" />

            </ul>

            <button type="button" id="checkAnswer" class="btn" onclick="checkOrder()" ></button>
        </div>
                 <div class="row justify-content-center">

            <button type="button" id="checkOrderAns" class="btnBlue col-4 mt-4" onclick="checkOrder()" >submit</button>
                                   <div class="w-100"></div>

             <button type="button" id="SkipAnswer" @onclick="SkipAnawer">Skip</button>
          </div>
                 <asp:Button runat="server" ID="saveOrderAnsDB" ClientIDMode="Static" Text="" style="display:none;" @onclick="saveAnawer" />
        </div>
               
@code {

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            CallJSMethod();
        }
    }


    private async Task CallJSMethod()
    {
        await JSRuntime.InvokeVoidAsync("orderQuestionPage");
    }
    int counter = 0;

    private async Task counterAdd()
    {

        counter++;
    }

}