@layout SeconderyLayout
@page "/OrderQuestion/{GameId}/{UserId}/{QuestionID}"

@inject IJSRuntime JSRuntime;
  
<link href="./css/styles/OrderQuestion.css" rel="stylesheet" />
<link href="./css/styles/Game.css" rel="stylesheet" />
<link href="./css/bootstrap/bootstrap.min.css" rel="stylesheet" />

@*<body ontouchstart="dragStart(event)"
      ontouchmove="drag(event)"
      ontouchend="drop(event)">*@
<body >
    <div class="container mt-4">
        <div id="game" class="justify-content-center align-items-center">

            <MudGrid>
                <MudItem xs="12" sm="12">
                    <MudGrid Justify="Justify.SpaceBetween" class="align-center">
                        <MudItem xs="4" sm="4"><MudChip Icon="TotalPoints" Color="Color.Primary" Label="true" Style="color:white !important;"><span id="TotalPoints"> @currentScore.UserScore Points</span></MudChip></MudItem>

                        <MudItem xs="2" sm="2">
                            <MudIconButton Icon="@Icons.Filled.Help" Color="Color.Secondary" aria-label="add to favorite" Size="Size.Large"></MudIconButton>
                        </MudItem>

                    </MudGrid>
                </MudItem>

            </MudGrid>

            <div id="hud">
                <div id="hud-item">
                    <div id="progressBar">
                        <div id="progressBarFull"></div>
                    </div>
                    <p id="progressText"> <span id="availleblQuestions">@currentQuestionNum  </span> / <span id="maxQuestions"> @GamePlaying.Questions.Count() </span></p>
                </div>
                <div id="hud-item">
                </div>
            </div>

            <h3 class="text-center">Questions @currentQuestionNum</h3>
            <div id="QuestionPic"></div>
            <h2 id="orderQuestion">@currentQuestion.QuestionBody</h2>
            @if (currentQuestion.QuestionImagePath != noQuestionIMG)
            {
                <div class="row justify-content-center">
                    <img src="@currentQuestion.QuestionImagePath" style="width:100px; height:auto;" class="col-5 align-self-center" />

                </div>
            }

            <div class="container text-center mb-4">

                <div class="row gx-5 justify-content-center">
                    <div class="col-10">
                        <div class="QuestionDescription">Drag The Aswer To The Right Order</div>
                    </div>
                </div>
            </div>



            <ul class="draggable-list row gy-4 px-4" @ref="questionsContainer" id="draggable-list">

                @foreach (var answer in currentQuestion.Answers)
                {

                    <div hidden>
                        @counterAdd()
                    </div>

                    <li data-index=@counter class="text-center col-12">
                        <div class="draggable row" draggable="true" RightOrder=@answer.QuestionOrder>

                            <img class="col-1 offset-1" width="10%" src="./Files/OrderIcon.svg" alt="Order icon">
                            <p class="person-name col-9"> @answer.AnswerBody</p>
                            @*                         <i class="fas fa-grip-lines"></i>
                            *@
                        </div>
                    </li>
                    @*<div class="choiceContainer">
                        <li class="choice-text" onclick="answerClicked('@answer.IsRight', event)" dataisRight="@answer.IsRight"> @answer.AnswerBody</li>
                    </div>*@

                }
                <input id="questionHidden" type="hidden" value="@chosenanswer" @onchange="@(e=>{chosenanswer=e.Value.ToString();})" />

            </ul>

            <button type="button" id="checkAnswer" class="btn" onclick="checkOrder()"></button>
        </div>
        <div class="row justify-content-center">

            <button type="button" id="checkOrderAns" class="btnBlue col-4 mt-4" onclick="checkOrder()">submit</button>
            <div class="w-100"></div>

            <button type="button" id="SkipAnswer" @onclick="SkipAnawer">Skip</button>
        </div>
        <asp:Button runat="server" ID="saveOrderAnsDB" ClientIDMode="Static" Text="" style="display:none;" @onclick="saveAnawer" />
    </div>

</body>
               
@code {

    private DotNetObjectReference<OrderQuestion> selfReference;
    private IJSObjectReference module;
    private ElementReference questionsContainer;

    //protected override void OnAfterRender(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        CallJSMethod();
    //    }
    //}

    int counter = 0;

    private async Task counterAdd()
    {

        counter++;
    }


    //selfReference = DotNetObjectReference.Create(this);
    //module = await JSRuntime.InvokeAsync<IJSObjectReference>(
    //"import", "./jScripts/OrderQuestion.js");

    //await module.InvokeVoidAsync("enableDragandDrop", questionsContainer, selfReference);

    public string message = "";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender is true)
        {
            this.message = "Invoked";
            await JSRuntime.InvokeVoidAsync("orderQuestionPage");
            await JSRuntime.InvokeVoidAsync("initiateDrag");
        }

    }


    //await JSRuntime.InvokeVoidAsync("orderQuestionPage");




}