@page "/EditQuestion"
@page "/EditQuestion/{Id}"
@using ProjectSolarEdge.Shared.Entities
@using System.Net.Http.Json
@inject HttpClient httpClient
@using Microsoft.AspNetCore.Components.Web.Virtualization


<h3>Edit Question @QuestionsCRUD.ID </h3>

<MudGrid Spacing=3>
    <MudItem xs="12" sm="7">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <EditForm Model="@QuestionsCRUD">


                <MudItem xs="8">
                    <MudTextField T="string" Label="Question Body" Variant="Variant.Outlined" @bind-Value="@QuestionsCRUD.QuestionBody" Lines="4" />

                </MudItem>

                <MudItem xs="4">
                    @*<InputFile OnChange="@OnInputFileChanged"></InputFile>*@
                    <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />

                    <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Filled.Image"
                               for="fileInput">
                        Upload Image
                    </MudButton>
                    <img src="@filePicDataUrl" style="width:250px; height:auto;" />

                    @if (files != null)
                    {
                        <MudText Typo="@Typo.h6">@files.Count() File@(files.Count() == 1 ? "" : "s"):</MudText>
                        <MudList>
                            @foreach (var file in files)
                            {
                                <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                    @file.Name <code>@file.Size bytes</code>
                                </MudListItem>
                            }
                        </MudList>
                    }
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="@QuestionsCRUD.Creator" Label="Enter Your Name" Variant="Variant.Outlined" Margin="Margin.Dense" Counter="25" MaxLength="25" Immediate="true" Validation="@(new Func<string, IEnumerable<string>>(MaxCharacters))"></MudTextField>
                </MudItem>

                <MudItem xs="6">

                </MudItem>


                <div>                 
                    <MudRadioGroup @bind-SelectedOption="@CheckedAnswerID">
                        @foreach (var myanswer in QuestionsCRUD.Answers)
                        {
                            <MudRadio Option="@myanswer.ID" Color="Color.Primary" Dense="true"> <InputText @bind-Value="@myanswer.AnswerBody" placeholder="Enter Your answer"></InputText></MudRadio>
                            <br />
                            <br />
                        }
                    </MudRadioGroup>
                </div>

                <div>
                    <label for="QuestionFeedback">Feedback:</label><br />
                    <InputTextArea id="QuestionFeedback" @bind-Value="@QuestionsCRUD.Feedback" placeholder="Enter Your Feedback"></InputTextArea><br /><br />
                </div>

                <div>
                    <MudSelect Dense="true" T="QuestionDifficulty" Label="Difficulty" Variant="Variant.Outlined" @bind-Value="@QuestionsCRUD.Difficulty">
                        <MudSelectItem Value="@(QuestionDifficulty.Easy)" />
                        <MudSelectItem Value="@(QuestionDifficulty.Medium)" />
                        <MudSelectItem Value="@(QuestionDifficulty.Hard)" />
                    </MudSelect>
                </div>
                <br />

                @* The SubOption is IEnumerable<string> defined as new HashSet<string>() - line 43*@
                <div>
                    <MudSelect T="string" Label="Subjects" MultiSelection="true" @bind-Value="Subject.SubjectName" @bind-SelectedValues="SubOptions">
                        @foreach (var subject in SubjectsData)
                        {
                            <MudSelectItem T="string" Value="@subject.SubjectName">@subject.SubjectName</MudSelectItem>
                        }
                    </MudSelect>
                </div>

                @* When I try this one it doesnt work (the bind-value was changed to QuestionSubject.SubjectName) *@
                @*<div>
            <MudSelect T="string" Label="Subjects" MultiSelection="true" @bind-Value="QuestionSubject.SubjectName" @bind-SelectedValues="SubOptions">
                @foreach (var subject in SubjectsData)
                {
                    <MudSelectItem T="string" Value="@subject.SubjectName">@subject.SubjectName</MudSelectItem>
                }
            </MudSelect>
        </div>*@





                <div>
                    <MudButton Variant="Variant.Filled" @onclick="AddAndUpdate" Color="Color.Primary" DisableElevation="true">Save</MudButton>
                    <MudButton Variant="Variant.Filled" @onclick="DeleteQuestion" Color="Color.Primary" DisableElevation="true">Delete Question</MudButton>
                </div>


            </EditForm>

     


        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="5">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">

            <MudTable Items="QuestionsData" Hover="true" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"400px":"")" ServerData="@(new Func<TableState, Task<TableData<Question>>>(ServerReload))">
                <HeaderContent>
                    <MudTh>Type</MudTh>
                    <MudTh>Question</MudTh>
                    <MudTh>Delete</MudTh>

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Type">@context.Type</MudTd>
                    <MudTd DataLabel="Question">@context.QuestionBody <br /> <MudChip>@context.Difficulty</MudChip>  <MudChip>@context.UpdateDate</MudChip> </MudTd>
                    <MudTd DataLabel="Delete">

                        <MudTooltip Text="Delete Question">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="(() =>QuestionsToDeleteID(context.ID))" Color="Color.Primary" />
                        </MudTooltip>
                    </MudTd>

                </RowTemplate>
            </MudTable>

        </MudPaper>
    </MudItem>

</MudGrid>


@code {
    public bool Dense_Radio { get; set; } = true;

    private IEnumerable<string> MaxCharacters(string ch)
    {
        if (!string.IsNullOrEmpty(ch) && 25 < ch?.Length)
            yield return "Max 25 characters";
    }

    //IList<IBrowserFile> files = new List<IBrowserFile>();
    //private void UploadFiles(InputFileChangeEventArgs e)
    //{
    //    foreach (var file in e.GetMultipleFiles())
    //    {
    //        //var file = inputFileChangeEvent.File;


    //        files.Add(file);
    //        var fileInArray = new byte[file.Size];
    //        await file.OpenReadStream(1512000).ReadAsync(fileInArray);

    //        filePicDataUrl = $"data:image/png;base64,{Convert.ToBase64String(fileInArray)}";


    //    }
    //TODO upload the files to the server



}






