@layout ThirdLayout

@page "/EditorOpening/{EditorID}"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@*<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
<link href="/css/styles/EditorOpening.css" rel="stylesheet" />




<MudContainer Class="mt-16">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Welcome to KnowLegde</MudText>
    <MudText Align="Align.Center">Create different quetions, add games or manage users</MudText>
    <MudGrid Class="mt-8">
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25" Outlined="true" Class="border-solid border-1 mud-border-primary rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Manage Questions</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <img Src="/Files/QuestionsHome.svg" Alt="Questions" width="30%" height="30%">
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Choose question type
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Edit content and settings
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Choose question subject
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="NavQuestion" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudCard Elevation="25"  Outlined="true" Class="border-solid border-1 mud-border-primary rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Manage Games</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <img Src="/Files/GameHome.svg" Alt="Questions" width="30%" height="30%">
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Add question to game
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Edit content and settings
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Publish game
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" @onclick="NavGames" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudCard Elevation="25"  Outlined="true" Class="border-solid border-1 mud-border-primary rounded-lg pb-4">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Manage Users</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <div class="d-flex justify-center">
                        <img Src="/Files/UsersHome.svg" Alt="Questions" width="30%" height="30%">
                    </div>
                    <MudList Class="mx-auto mt-4" Style="width:300px;">
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Add users to KnowLedge
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Choose users type
                        </MudListItem>
                        <MudListItem Icon="@Icons.Material.Filled.TaskAlt">
                            Add users to games
                        </MudListItem>
                    </MudList>
                </MudCardContent>
                <MudCardActions Class="d-flex justify-center">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width:50%;">Start Now</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {

}
