@page "/Games"
@using ProjectSolarEdge.Shared.Entities
@inject HttpClient httpClient
@using System.Net.Http.Json

<MudGrid>


    <MudItem xs="12">
        <h1 Class="d-flex align-center justify-start mud-width-full py-8">Games</h1>
    </MudItem>


    <MudItem xs="4">
        <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 d-flex align-center justify-start mud-width-full py-2"></MudTextField>
    </MudItem>
    <MudItem xs="6" Class="mt-0 d-flex align-center justify-center mud-width-full py-2"></MudItem>
    <MudItem xs="2">
        @*<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="NewGame" Icon="@Icons.Material.Filled.Add" Class="d-flex align-center justify-end mud-width-full py-2">ADD QUESTION</MudButton>*@
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" @onclick="NewGame" Class="justify-content-end">ADD GAME</MudButton>
    </MudItem>

    <br />
    <MudItem xs="12">
        <MudTable Items="GameDataToDisplay" Hover="true" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ?"400px":"")" ServerData="@(new Func<TableState, Task<TableData<Game>>>(ServerReload))">
            <!--<ToolBarContent>-->
            @*<MudText Typo="Typo.h6">Questions</MudText>*@

            @*<MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>*@
            <!--</ToolBarContent>-->
            <HeaderContent>
                <MudTh><MudTableSortLabel SortLabel="ID_field" T="Game">ID</MudTableSortLabel></MudTh>

                @*<MudTh><MudTableSortLabel SortLabel="Subject_field" T="Subject">Subject</MudTableSortLabel></MudTh>*@

                <MudTh><MudTableSortLabel SortLabel="GameName_field" T="Game">Game Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="Creator_field" T="Game">Creator</MudTableSortLabel></MudTh>


                <MudTh><MudTableSortLabel SortLabel="Update_Date_field" T="Game">Last Update</MudTableSortLabel></MudTh>
                @*<MudTh><MudTableSortLabel SortLabel="Published_field" T="Game">Published</MudTableSortLabel></MudTh>*@
                <MudTh>Edit</MudTh>
                <MudTh>Delete</MudTh>



            </HeaderContent>
            <RowTemplate>
                <MudTh DataLabel="ID">@context.ID</MudTh>
                <MudTh DataLabel="GameName">@context.GameName</MudTh>
                <MudTh DataLabel="Creator">@context.Creator</MudTh>

                <MudTh DataLabel="Update">@context.UpdateDate</MudTh>
                @*<MudTh DataLabel="Published">@context.isPublished</MudTh>*@
                <MudTh DataLabel="Edit">


                    <MudTooltip Text="Edit Game">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="(() =>NavigateToEdit(context.ID))" Color="Color.Primary" />
                    </MudTooltip>
                </MudTh>
                <MudTh DataLabel="Delete">

                    <MudTooltip Text="Delete Question">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" @onclick="(() =>DeleteWarning(context.ID))" Color="Color.Primary" />
                    </MudTooltip>

                </MudTh>

            </RowTemplate>
            <NoRecordsContent>
                <MudText>No matching records found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>

            <PagerContent>
                <MudTablePager PageSizeOptions="new int[]{5,10,20}"></MudTablePager>
            </PagerContent>
        </MudTable>
    </MudItem>

    <MudMessageBox Class="DeleteWarning" @ref="mbox" Title="Warning" CancelText="Cancel" Style="max-width: 444px !important; ">
        <MessageContent>
            <br />
            Deleting this Game can not be undone and will delete all player's data associated with it! <br />
            <b>  Are you sure you want to continue?</b>
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete!</MudButton>
        </YesButton>
    </MudMessageBox>
</MudGrid>

@code{

    MudMessageBox mbox { get; set; }
    string state = "Message box hasn't been opened yet";

    private async void DeleteWarning(int deleteNum)
    {
        bool? result = await mbox.Show();
        state = result == null ? "Cancelled" : "Deleted!";
        if (state == "Deleted!")
        {

            GameToDeleteID(deleteNum);
            NavigationManager.NavigateTo("./Games");

        }
        StateHasChanged();

    }
}



