@page "/"
@using ProjectSolarEdge.Shared.Entities

<h3>Questions</h3>


<button type="button" class="btn btn-primary btn-sm" @onclick="NewQuestion">NewQuestion</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Question</th>
            <th scope="col">Question Type</th>
             <th scope="col">Creator</th>
              <th scope="col">Difficulty</th>
            <th scope="col">Creation Date</th>
             <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in QuestionsData)
        {
            <tr>
                <th scope="row">@question.ID</th>
                <td>@question.QuestionBody</td>
                <td>@question.Type</td>
                 <td>@question.Creator</td>
                  <td>@question.Difficulty</td>
                <td>@question.CreationDate</td>
                <td><a href="/EditQuestion/@question.ID"><button type="button" class="btn btn-primary btn-sm">Edit</button></a></td>

            </tr>
        }


    </tbody>
</table>


@code {

}
