@page "/"
@using ProjectSolarEdge.Shared.Entities
@inject HttpClient httpClient
@using System.Net.Http.Json


<h3>Questions</h3>

<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="NewQuestion">NewQuestion</MudButton>


<MudTable Items="QuestionsData" Hover="true">
    <HeaderContent>
        <MudTh>ID</MudTh>
        <MudTh>Question Body</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Difficulty</MudTh>
        <MudTh>Creator</MudTh>
        <MudTh>Creation Date</MudTh>
        <MudTh>Edit</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTh DataLabel="ID">@context.ID</MudTh>
        <MudTh DataLabel="Question Body">@context.QuestionBody</MudTh>
        <MudTh DataLabel="Type">@context.Type</MudTh>
        <MudTh DataLabel="Difficulty">@context.Difficulty</MudTh>
        <MudTh DataLabel="Creator">@context.Creator</MudTh>
        <MudTh DataLabel="Creation Date">@context.CreationDate</MudTh>
        <MudTh DataLabel="Edit"><a href="/EditQuestion/@context.ID">
    <MudButton Variant="Variant.Outlined"
               EndIcon="@Icons.Outlined.Edit"
               Color="Color.Tertiary">

        Edit
    </MudButton>
</a>
  
</MudTh>


    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{10,20}"></MudTablePager>
    </PagerContent>
</MudTable>



 @code {
               }