@inherits LayoutComponentBase

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1" Style="@($"background:#001546;")">
        <img src="./Files/KnowledgeOnBlack.svg" alt="Home" width="10%" />
        <MudSpacer />
        @*<MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />*@
        <MudButton Variant="Variant.Text" Style="color: white;" @onclick="NavGame">Go To Game</MudButton>
        <MudButton Variant="Variant.Text"   Style="@($"font-family: 'Assistant', sans-serif !important; color: white;")">אודות</MudButton>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
    <MudAppBar Bottom="true" Fixed="true" Style="@($"background:#D1EDFF !important;")" Elevation="3">
       
        <MudSpacer />
        <MudText Color="Color.Primary" Style="@($"font-family: 'Assistant', sans-serif !important;")">תוצר זה פותח במסגרת פרויקט גמר לתואר ראשון <a href="https://www.hit.ac.il/telem/overview" style="@($"color: #FF3232 !important;")">בפקולטה לטכנולוגיות למידה</a></MudText>
        <MudIconButton Icon="@Icons.Rounded.School" Color="Color.Primary" Edge="Edge.End" />
        <MudSpacer />
       
    </MudAppBar>
</MudLayout>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void NavGame()
    {
        NavigationManager.NavigateTo($"./Login");
    }
}
